@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "variables";
@import "mixins";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $color-primario;}

header{
    @include header;
    .inicio{
        background-color: $color-uno;
        font-family: Montserrat, sans-serif; 
        .nombre{
            background-color: $color-uno;
        }
    }
}
.portada{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 100px;
    .texto1{
        margin-left: 100px;
        margin-right: 100px;
        border: solid;
        margin-bottom: 100px;
        
    }
}
@media screen and (max-width: 768px) {
    * {
        background-color: $color-primario;
    }
      
    #imagen{
        width: auto;
        margin-right: 5px;
    }
    .portada img{
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .portada img{
        width: 550px;
        height: 500px;
    }
}
