@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "variables";
@import "resets";
@import "mixins";
@import "hombres";
@import "mujeres";
@import "nosotros";
@import "ayuda";


header {
  @include header;
}
.titulo{
    text-align: center;
    font-size: 100px;
    font-family: Montserrat, sans-serif;
    color: $color-dos;
}
hr {
  color: $color-dos; }

.categorias{
  display: flex;
  margin-top: 80px;
  justify-content: space-evenly;
  .ropa-hombre img{
    @include imagen;
    &:hover{
      transform: scale(1.1);
      .ropa-hombre h1{
        @include h1;
      }
    }
  }
  .ropa-mujer img{
    @include imagen;
    &:hover{
      transform: scale(1.1);
      .ropa-mujer h1{
        @include h1;
      }
    }
  }
 .nosotros img{
    @include imagen;
    &:hover{
      transform: scale(1.1);
      .nosotros h1{
        @include h1;
      }
    }
  }
}

  
  


@media screen and (max-width: 768px) {
  * {
    background-color: $color-primario;
  }
  #imagen{
    width: auto;
    margin-right: 5px;
  }
}


    
