@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "variables";
@import "mixins";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $color-primario;
    font-family: Montserrat,sans-serif;
}

header{
    @include header;
}

.titulo{
    text-align: center;
    font-size: 100px;
    font-family: Montserrat, sans-serif;
    color: $color-dos;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    margin-top: 70px;
    padding-bottom: 70px;
    &.grid img {
        border-radius: 20px;
        transition: 1s;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 400px;
        height: 400px;
        &:hover{
            transform: scale(1.1);
        }
    }
}




@media screen and (max-width: 768px) {
    * {
        background-color: $color-primario;
    }
    .img{
        margin-right: 15px;
        width: 60px;
    }
    .grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        .grid img{
            width: 250px;
            height: 250px;
        }
    }
    
}
@media screen and (max-width: 768px) {
    * {
      background-color: $color-primario;
    }
    #imagen{
      width: auto;
      margin-right: 5px;
    }
  }

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        .grid img{
            width: 250px;
            height: 250px;
        }
    } 
}


